<div class="container">
  <div class="hero">
    <div class="hero-content col-lg-7">
      <h1><%= image_tag "logo_small.png", style: "vertical-align: text-top" %> <%= Rails.application.settings['name'] %></h1>
      <h2><%= setting(:tagline).html_safe %></h2>
      <p class="lead">ReScience C is a platinum open-access peer-reviewed journal that targets computational research and encourages the explicit <a href="http://rescience.github.io/faq">replication</a> of already published research, promoting new and open-source implementations in order to ensure that the original research is <a href="http://rescience.github.io/faq">reproducible</a>. You can read about the ideas behind ReScience C in the article <a href="https://doi.org/10.7717/peerj-cs.142">Sustainable computational science: the ReScience initiative</a></p>
<!--
      <p class="xxlead">To achieve this goal, the whole publishing chain is radically different from other traditional scientific journals. ReScience C lives on <a href="https://github.com/rescience/">GitHub</a> where each new implementation of a computational study is made available together with comments, explanations and tests. Each submission takes the form of an issue that is publicly reviewed and tested in order to guarantee that any researcher can re-use it. If you ever replicated computational results (or failed at) from the literature in your research, ReScience C is the perfect place to publish your new implementation.</p>
-->

      <p class="lead">ReScience C is collaborative and open by design. Everything can be forked and modified.</p>
      <div class="hero-ctas">
        <%= link_to "Submit a paper to #{Rails.application.settings['abbreviation']}".html_safe, new_paper_path, class: "btn" %>
        <%= link_to "🎉 Volunteer to review".html_safe, setting(:reviewers_signup_url), class: "btn" %>
      </div>
    </div>

    <div class="hero-nav col-lg-4 offset-lg-1 align-self-end">
      <%= link_to papers_path do %>
      <%= image_tag 'icon_papers.svg' %>
      Explore Papers
      <% end %>
      <%= link_to "https://joss.readthedocs.io/en/latest/" do %>
      <%= image_tag 'icon_docs.svg' %>
      Documentation
      <% end %>
      <%= link_to about_path do %>
      <%= image_tag 'icon_info.svg' %>
      Learn More
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h4>Recently Published Papers <span class="badge-count"><%= Paper.visible.count %></span></h4>

  <div class="paper-list" id="all-papers">
    <%= render partial: "papers/list", locals: { papers: @papers } %>
  </div>

  <div class="my-5 text-center">
    <%= link_to "View all papers".html_safe, published_papers_path, class: "btn", data: { text: "View all papers"} %>
  </div>
</div>
